################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Server-form/.vs/Server-form/FileContentIndex/aafe22e9-bbe5-4d70-aa24-bb2ad81dddc5.vsidx
